/* You can add global styles to this file, and also import other style files */
body {background-image: linear-gradient(to left bottom, #face65, #ffaa62, #ff8576, #ff6598, #eb59c0);}
html{}
h4{font-weight: normal;color: #00000073; font-family: fantasy;}
h1{color:white;}
html {font-family: 'Squada One', cursive;}
